body {
    margin: 0;
    font-family: Helvetica, arial, sans-serif;
}

* {box-sizing: border-box;}

ul {
 list-style-type: none;
 padding: 0;
}

header {
    background-size: cover;
}

main { 
    padding: 2em;
    background: #111
}

main p {
    font-size: 1.1em;
    line-height: 27px;
    color: #fff;
}

.container, .container-inner {
    margin: 0 auto;
    width: 100%
}

.container {
    max-width: 1350px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.container-inner {
    max-width: 1000px;
}

nav {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 padding: 2em;
 z-index: 9;
 transition: 0.7s;
 color: #fff;
}

.brand {
    font-size: 1.6em;
}

nav .container-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav .container ul {
    width: 100%;
    margin: 0 1em;
}

nav .container ul:nth-child(2) {
    text-align: right;
}

nav .container ul li {
    display: inline-block;
    margin: 0 0.7em;
}

nav a {
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.3s;
    font-weight: 600;
    color: #fff;
}

nav a:hover {
    color: #5aacdb;
}

.input-wrap {
    display:flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    background: none;
    border: none;
    color: #fff;
}

form button {
    cursor: pointer;
}

form input::placeholder {
    color: #fff;
}

form input:focus {
    outline: none;
}

nav .fa-bars {
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3;
    text-align: right;
}

nav .fa-bars:hover {
    color: #5aacdb
}

.menu {
    background: #111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    height: 0;
    opacity: 0;
    transition:
     0.7s
     cubic-bezier(
         .74,-0.03,.83,.67
     );
     overflow-y: hidden;
}

.logo {
    width: 3em;
}

.menu ul, .menu form {
    margin: 1em auto;
}

.menu li {
    margin: 1em 0;
}

.menu > div {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 6em 1em 3em 1em;
    height: 100%;
    overflow-y: scroll;
}

.menu > div::-webkit-scrollbar {
    display: none;
}

.menu .social-media {
   margin: 2em 0; 
}

.social-media li {
    display: inline-block;
    margin: 0 0.5em;
}

/* for Javascript */

.menu-open {
    height: 100vh;
    opacity: 1;
}

.navbar-active {
    background: #111;
    padding: 1em;
}


@media screen and (max-width: 800px) {
    nav .container-inner {
        display: none;
    }

    nav .container {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width: 800px) {
    .menu form {
        display: none;
    }
}

@media screen and (max-width: 400px) {
 html {
    font-size: 13px;
 }
}


.section {
    padding: 4.5rem 0 2rem;
  }
  
  .section__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .section__height {
    height: 100vh;
  }
  

   /* About Section Styling */
section{
    padding-top:40px;
  }
  section .content{
    width:80%;
    margin:40px auto;
    font-family: 'Poppins', sans-serif;
  }
  section .title{
    display:flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  section .title span{
    color:white;
    font-size: 30px;
    font-weight: 600;
    position:relative;
    padding-bottom:8px;
  }
  section .title span::before,
  section .title span::after{
    content:'';
    position:absolute;
    height:3px;
    width:100%;
    background: white;
    left:0;
    bottom:0;
  }
  section .title span::after{
    bottom:-7px;
    width:70%;
    left:50%;
    transform:translateX(-50%);
  }
  .about .about-details{
    display:flex;
    justify-content:space-between;
    align-items: center;
  }
  .about .about-details .left{
    width:45%;
  }
  .about .left img{
    height:400px;
    width:400px;
    object-fit: cover;
    border-radius: 12px;
  }
  .about .about-details .right{
    width:55%;
  }
  section .topic{
    color: white;
    font-size:25px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .about-details .right p{
    text-align: justify;
    color: white;
  }
  section .button{
    margin:16px 0;
  }
  section .button button{
    outline:none;
    padding:8px 16px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    background: white;
    color: black;
    border:2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  section .button button:hover{
    border-color:rgb(255, 255, 255);
    background-color: black;
    color: white;
  }


    /* Responsive Media Queries */
    @media (max-width:1190px){
        section .content{
          width:85%;
        }
      }
      @media (max-width:1000px){
        .about .about-details{
          justify-content: center;
          flex-direction: column;
        }
        .about .about-details .left{
          display: flex;
          justify-content:center;
          width:100%;
        }
        .about .about-details .right{
          width:90%;
          margin:40px 0;
        }
        .services .boxes .box{
          margin:20px 0;
          width:calc(100% / 2 - 20px);
        }
      }
      @media (max-width:900px){
        .about .left img{
          height:350px;
          width:350px;
        }
      }

  
      .char{
        font-size: 20px;
        height: 20px;
        animation: an 1s ease-out 1 both;
        display: inline-block;
    }

    @keyframes an{
        from{
            opacity: 0;
            transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
        }
        to{
            opacity: 1;
            transform: perspective(500px) translate3d(0, 0, 0);
        }
    }


  /*FOOTER*/

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


.footer {
    background-color: rgb(36, 35, 35);;
    width: 100%;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
    margin-top: 50px;
  }
  
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  
  /* footer left*/
  
  .footer .footer-left {
    width: 33%;
    padding-right: 15px;
  }
  
  .footer .about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer .about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer .icons {
    margin-top: 25px;
  }
  
  .footer .icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #302c2c;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  /* footer center*/
  
  .footer .footer-center {
    width: 30%;
  }
  
  .footer .footer-center i {
    background-color: #ffffff;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer .footer-center p a {
    color: #0099ff;
    text-decoration: none;
  }
  
  
  /* footer right*/
  
  .footer .footer-right {
    width: 35%;
  }
  
  .footer h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer h2 span {
    color: #0099ff;
  }
  
  .footer .menu {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer .menu a:hover {
    color: #0099ff;
  }
  
  .footer .name {
    color: #0099ff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  @media (max-width: 767px) {
    .footer {
      font-size: 14px;
    }
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    .footer .footer-center i {
      margin-left: 0;
    }
  }


  ::selection {
    background-color: #C3CFE2;
  }

  .text {
    text-transform: uppercase;
    background: linear-gradient(to right, #30CFD0 0%, #044e79 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 12vw;
    font-family: 'Poppins', sans-serif;
  }
  
.hero {
  background: url('blue-sky.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .1rem;
  padding: 2rem;
  position: relative;
  z-index: 1;
}


.scroll {
 top: 80%;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .1rem;
  padding: 2rem;
  z-index: 1;
}
.scroll span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
.scroll span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* 
** Layout, Text & Colors 
*/

body {
  background: #150f21;
  font-size: 18px;
}

p {
  line-height: 1.5;
}

.contaier {
  max-width: 800px;
  margin: 0 auto;
}

/* Cards */
.card-column {
  width: 50%;
  float: left;
  padding: 4%;
  box-sizing: border-box;
}

.column-1 {
  padding-top: 100px;
}

.card {
  width: 92%;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: #EB5160;
  color: #fff;
  cursor: pointer;
  margin-bottom: 60px;
}

.border {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 6px;
  border: 1px solid #fff;
  opacity: 0.5;
  left: -6px;
  top: -6px;
}

.card h1 {
  position: relative;
  padding: 190px 0px 100px 10px;
  width: 90%;
}

.card > img {
  width: 90%;
  position: absolute;
  top: -6%;
  left: -6%;
}

.card-color-0 {
  background-color: #EB5160;
}

.card-color-1 {
  background-color: #8F3985;
}

.card-color-2 {
  background-color: #8DAA91;
}

.card-color-3 {
  background-color: #888DA7;
}

/* The cover (expanding background) */
.cover {
  position: fixed;
  background: #EB5160;
  z-index: 100;
  transform-origin: 50% 50%;
}

/* The open page content */
.open-content {
  width: 100%;
  z-index: 110;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.open-content img {
  position: relative;
  width: 90%;
  margin-left: 3%;
  margin-top: 20px;
  z-index: 5;
}

.open-content .text {
  background: #fff;
  margin-top: -56%;
  padding: 60% 5% 5% 5%;
  width: 80%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.open-content .text h1, .open-content .text p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.close-content {
  display: block;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 30px;
  height: 30px;
}

.close-content span {
  background: #222;
  width: 30px;
  height: 6px;
  display: block;
  position: absolute;
  top: 14px;
}

.x-1 {
  transform: rotate(45deg);
}

.x-2 {
  transform: rotate(-45deg);
}

/* 
** Transitions
*/

.card {
  transition: opacity 200ms linear 320ms, transform 200ms ease-out 320ms;
}

.border {
  transition: opacity 200ms linear, transform 200ms ease-out;
}

.card img {
  transition: opacity 200ms linear 0ms, transform 200ms ease-in 0ms;
}

.card h1 {
  transform: translate3d(20%, 0px, 0px);  
  transition: opacity 200ms linear 120ms, transform 200ms ease-in 120ms;
}

/* Clicked card */
.card.clicked img {
  transform: translate3d(0px, -40px, 0px);
  opacity: 0;
}

.card.clicked .border {
  opacity: 0;
  transform: scale(1.3);
}

.card.out, .card.out img {
  transform: translate3d(0px, -40px, 0px);
  opacity: 0;
}

.card.out h1, .card.clicked h1 {
  transform: translate3d(20%, -40px, 0px);
  opacity: 0;
}

.cover {
  transition: transform 300ms ease-in-out;
}

.open-content {
  transition: opacity 200ms linear 0ms;
}

.open-content.open {
  opacity: 1;
  pointer-events: all;
  transition-delay: 1000ms;
}

/* 
** Media Queries
*/

@media screen and (max-width: 600px) {
  .card-column {
    width: 90%;
  }
  
  .column-1 {
    padding-top: 0px;
  }
  
  .open-content img {
    margin-top: 40px;
  }
}